* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  width: 80%;
  max-width: 1500px;
  margin: 8px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  height: 16px;
  padding-left: 40px;
}

.button-right {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 16px;
}

.large-pic {
  background-image: url("images/Mask Group 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  width: 100vw;
}

.adobe-verbage {
  margin: 140px;
}

.gray-line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  width: 80vw;
  max-width: 1500px;
}

.title-pics-row {
  background-image: url("images/Group 15.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 80%;
  margin: 100px;
}

.instagram-row {
  background-image: url("images/Group 11.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 850px;
  width: 80vw;
  margin: 100px;
}

.full-gray-line {
  padding: 80px;
  margin: 0;
}

footer {
  padding: 50px;
}
